<ion-header>
  <ion-toolbar color="warning">
    <ion-title style="color: black">
      ค้นหาข้อมูลพระ
    </ion-title>
    <ion-buttons style="color: black" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">

  <ion-item color="warning">
    <ion-label style="color: black" position="floating">กรอกรหัส</ion-label>
    <ion-input class="border" style="color: black" type="text" [(ngModel)]="input" placeholder="กรอกรหัส"></ion-input>
  </ion-item>
  
  <br>
  <ion-button expand="full" color="success" (click)="getdata(input)">ค้นหา</ion-button>
</ion-content>
